.page{
  min-height:100vh;
}

.content{
  padding:40px 60px;
}


/* BOTÃO VOLTAR */

.back{
  display:inline-flex;
  align-items:center;
  gap:10px;

  padding:10px 18px;

  background:rgba(255,255,255,.05);
  border:1px solid #8a00ff;
  border-radius:999px;

  color:#8a00ff;
  font-weight:600;

  cursor:pointer;

  margin-bottom:30px;

  transition:.25s;
}

.back:hover{
  background:rgba(180,0,255,.15);
  box-shadow:0 0 18px rgba(180,0,255,.45);
}


/* VIDEO */

.videoTitle{
  text-align:center;
  font-size:32px;
  margin-bottom:38px;
  margin-top: -10px;
}

.videoWrapper{
  border-radius:20px;
  overflow:hidden;

  border:1px solid rgba(138,0,255,.6);

  box-shadow:0 0 35px rgba(138,0,255,.35);

  background:#000;

  margin-bottom:60px;
}

.video{
  width:100%;
  height:620px;
  object-fit:cover;
}



/* CARDS */

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(360px,1fr));
  gap:20px;
  align-items:stretch;
}

.card{

  padding:26px;

  border-radius:22px;

  background:linear-gradient(
    145deg,
    rgba(18,6,45,.85),
    rgba(8,2,25,.95)
  );

  border:1px solid rgba(255,255,255,.06);

  backdrop-filter: blur(10px);

  display:flex;
  flex-direction:column;

  min-height:150px;

  transition:all .3s ease;

  box-shadow:
    0 10px 30px rgba(0,0,0,.45),
    0 0 20px rgba(138,0,255,.05);
}

.card:hover{

  transform:translateY(-5px);

  box-shadow:
    0 18px 45px rgba(0,0,0,.6),
    0 0 40px rgba(138,0,255,.25);

  border:1px solid rgba(180,0,255,.35);

}


/* TITULO CARD */

.card h3{
  font-size:20px;
  text-align:center;
  margin-bottom: 6px;
}


/* SUBTITULO */

.subtitle{
  color:rgba(255,255,255,.65);
  font-size:13px;
  text-align:center;
  margin-bottom:16px;
}



/* CREDENCIAIS */

.credentials{

  background:rgba(255,255,255,.04);
 
  padding:26px 28px;

  border-radius:12px;

  margin-bottom:14px;

  display:flex;
  flex-direction:column;
  gap:6px;
  margin-top: 20px;
}

.credentials div{

  display:flex;

  justify-content:flex-start;

  gap:6px;

  margin-bottom:6px;

  align-items:center;
}

.credentials span{
  color:rgba(255,255,255,.6);
  font-size:18px;
}

.credentials strong{
  font-size:14px;
}



/* BOTÃO DOWNLOAD */

.download{

  width:100%;

  padding:12px;

  border:none;

  border-radius:999px;

  font-weight:600;

  cursor:pointer;

  background:linear-gradient(135deg,#8a00ff,#b400ff);

  color:white;

  margin-bottom:12px;

  transition:.25s;
}

.download:hover{

  transform:translateY(-2px);

  box-shadow:0 18px 40px rgba(138,0,255,.55);

}



/* GERAR CODIGO */

.codeBox{

  min-height:110px;

  padding:18px;

  border-radius:12px;

  border:1px solid #8a00ff;

  background:rgba(255,255,255,.02);

  color:#8a00ff;

  margin-bottom:16px;

  text-align:center;

  display:flex;

  align-items:center;

  justify-content:center;

  flex-direction:column;

  line-height:1.5;

}


.codigo{

  font-size:38px;

  font-weight:700;

  letter-spacing:5px;

}


.timer{

  margin-top:4px;

  font-size:12px;

  color:rgba(255,255,255,.6);

}



/* BOTÃO GERAR */

.generate{

  width:100%;

  padding:12px;

  border-radius:999px;

  border:1px solid #8a00ff;

  background:transparent;

  color:#8a00ff;

  font-weight:600;

  cursor:pointer;

  margin-bottom:12px;

  transition:.25s;
}

.generate:hover{

  background:rgba(180,0,255,.15);

  box-shadow:0 0 18px rgba(180,0,255,.45);

}

.generate:disabled{

  opacity:.5;

  cursor:not-allowed;

}



/* INFO */

.info{

  font-size:11px;

  color:rgba(255,255,255,.6);

  text-align:center;

}



/* RESPONSIVO */

@media(max-width:900px){

  .cards{
    grid-template-columns:1fr;
  }

}

@media(max-width:768px){

  .content{
    padding:24px;
  }

}

@media(max-width:480px){

  .video{
    height:260px;
  }

}